/* Primary Colors */
@ds-dahlia: #EC0041;
@ds-dahlia-fade: fade(@ds-dahlia, 70%);
@ds-dahlia-dark-1: darken(@ds-dahlia, 20%);
@ds-dahlia-dark-2: darken(@ds-dahlia, 30%);

@ds-fog: #D8DDE6;
@ds-fog-fade: fade(@ds-fog, 70%);
@ds-fog-dark-1: darken(@ds-fog, 20%);
@ds-fog-dark-2: darken(@ds-fog, 30%);

@ds-midnight: #475470;
@ds-midnight-fade: fade(@ds-midnight, 70%);
@ds-midnight-dark-1: darken(@ds-midnight, 20%);
@ds-midnight-dark-2: darken(@ds-midnight, 30%);

@ds-abyss: #2F3542;
@ds-abyss-fade: fade(@ds-abyss, 70%);
@ds-abyss-dark-1: darken(@ds-abyss, 20%);
@ds-abyss-dark-2: darken(@ds-abyss, 30%);

// Supportive System Colors
@ds-black: #000000;
@ds-white: #FFFFFF;
@ds-blue: #0A75E3;
@ds-red: #E60000; // destructive - high risk
@ds-orange: #FFA50B; // medium risk
@ds-green: #0B892D; // affirmative
