@ds-code-background: @ds-abyss;
@ds-code-text: @ds-white;
@ds-code-green: #98c379;
@ds-code-purple: #c678dd;
@ds-code-blue: #61afef;
@ds-code-pink: #e06c75;
@ds-code-orange: #d19a66;

@ds-inline-code-background: @ds-fog;
@ds-inline-code-text: @ds-abyss;
