/* Basics */
@ds-black: #000000;
@ds-white: #FFFFFF;

/* Primary Colors */
@ds-charcoal: #252525;
@ds-red: #FF0046;
@ds-blue: #0B7EF4;
@ds-midnight: #475470;
@ds-slate: #AAB4C8;
@ds-gray: #D9DDE6;
@ds-light-gray: #ECEEF2;

/* Hover for Primary Colors */
@ds-blue-hover: darken(@ds-blue, 8%);
@ds-red-hover: darken(@ds-red, 8%);
@ds-slate-hover: darken(@ds-slate, 8%);

/* Secondary Colors */
@ds-pink: #FF4664;
@ds-teal: #2BBECF;
@ds-violet: #9000BE;
@ds-purple: #7864FF;
@ds-gold: #FF9400;
@ds-sun: #FFD700;
@ds-grassgreen: #00C669;
@ds-springgreen: #00F096;

/* Blends */
@ds-midnight-charcoal: mix(@ds-charcoal, @ds-midnight); // #363D4B;
@ds-slate-gray: mix(@ds-slate, @ds-gray); // #C2C9D7;
@ds-midnight-gray: mix(@ds-midnight, @ds-gray); // #9099AB;
@ds-midnight-slate: mix(@ds-midnight, @ds-slate); // #79849C;
@ds-blue-white: mix(@ds-blue, @ds-white, 5%); // #E6EFF9;
