@jw-code-background: @jw-midnight-charcoal;
@jw-code-text: @jw-white;
@jw-code-pink: mix(@jw-pink, #fff, 80%);
@jw-code-gold: mix(@jw-gold, #fff, 70%);
@jw-code-teal: #66d9ef;

@jw-inline-code-background: @jw-light-gray;
@jw-inline-code-text: @jw-charcoal;
