/* Data Color Patterns

/* Palette A */
@jw-palette-a: @jw-palette-a1, @jw-palette-a2, @jw-palette-a3, @jw-palette-a4, @jw-palette-a5, @jw-palette-a6;

@jw-palette-a1: #f7bdad;
@jw-palette-a2: #e3949d;
@jw-palette-a3: #ca7396;
@jw-palette-a4: #a85895;
@jw-palette-a5: #784496;
@jw-palette-a6: #263995;

/* Palette B */
@jw-palette-b: @jw-palette-b1, @jw-palette-b2, @jw-palette-b3, @jw-palette-b4, @jw-palette-b5, @jw-palette-b6;

@jw-palette-b1: #a3ee87;
@jw-palette-b2: #00cb9a;
@jw-palette-b3: #00a3ac;
@jw-palette-b4: #0077ac;
@jw-palette-b5: #004a93;
@jw-palette-b6: #131b60;

/* Palette C */
@jw-palette-c: @jw-palette-c1, @jw-palette-c2, @jw-palette-c3, @jw-palette-c4, @jw-palette-c5, @jw-palette-c6;

@jw-palette-c1: #f7c966;
@jw-palette-c2: #f69958;
@jw-palette-c3: #e86a5c;
@jw-palette-c4: #cbce69;
@jw-palette-c5: #9d2076;
@jw-palette-c6: #5a1d7e;

/* Single Hue - A */
@jw-single-hue-a: @jw-single-hue-a1, @jw-single-hue-a2, @jw-single-hue-a3, @jw-single-hue-a4, @jw-single-hue-a5, @jw-single-hue-a6;

@jw-single-hue-a1: #cd3138;
@jw-single-hue-a2: #da5550;
@jw-single-hue-a3: #e57369;
@jw-single-hue-a4: #ef8f84;
@jw-single-hue-a5: #f8aba0;
@jw-single-hue-a6: #ffc6bd;

/* Single Hue - B */
@jw-single-hue-b: @jw-single-hue-b1, @jw-single-hue-b2, @jw-single-hue-b3, @jw-single-hue-b4, @jw-single-hue-b5, @jw-single-hue-b6;

@jw-single-hue-b1: #459036;
@jw-single-hue-b2: #64a652;
@jw-single-hue-b3: #82bb6f;
@jw-single-hue-b4: #9fd28c;
@jw-single-hue-b5: #bce8aa;
@jw-single-hue-b6: #daffc9;

/* Single Hue - C */
@jw-single-hue-c: @jw-single-hue-c1, @jw-single-hue-c2, @jw-single-hue-c3, @jw-single-hue-c4, @jw-single-hue-c5, @jw-single-hue-c6;

@jw-single-hue-c1: #0073b3;
@jw-single-hue-c2: #2e8dc3;
@jw-single-hue-c3: #51a7d2;
@jw-single-hue-c4: #74c1e0;
@jw-single-hue-c5: #98dbef;
@jw-single-hue-c6: #bef5ff;

/* Color Scale - A */
@jw-color-scale-a: @jw-color-scale-a1, @jw-color-scale-a2, @jw-color-scale-a3, @jw-color-scale-a4, @jw-color-scale-a5;

@jw-color-scale-a1: #dc6428;
@jw-color-scale-a2: #e7b657;
@jw-color-scale-a3: #f1feaf;
@jw-color-scale-a4: #81b987;
@jw-color-scale-a5: #1c7464;

/* Color Scale - B */
@jw-color-scale-b: @jw-color-scale-b1, @jw-color-scale-b2, @jw-color-scale-b3, @jw-color-scale-b4, @jw-color-scale-b5;

@jw-color-scale-b1: #a40444;
@jw-color-scale-b2: #d584ac;
@jw-color-scale-b3: #ffe8ff;
@jw-color-scale-b4: #9a85b9;
@jw-color-scale-b5: #04367c;

/* Color Scale - C */
@jw-color-scale-c: @jw-color-scale-c1, @jw-color-scale-c2, @jw-color-scale-c3, @jw-color-scale-c4, @jw-color-scale-c5;

@jw-color-scale-c1: #d49c44;
@jw-color-scale-c2: #ecc188;
@jw-color-scale-c3: #ffead0;
@jw-color-scale-c4: #e7a491;
@jw-color-scale-c5: #c56077;
