@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* Typefaces */
@ds-font-custom: 'Open Sans', sans-serif;
@ds-font-system: Arial, sans-serif;
@ds-font-code: Monaco, 'Lucida Sans Typewriter', Consolas, 'Lucida Console', 'Courier New', monospace;

/* Sizes */
@ds-font-size-base: 15px;

/* Weights */
@ds-font-custom-light: 300;
@ds-font-custom-regular: 400;
@ds-font-custom-semibold: 600;
@ds-font-custom-bold: 700;
