/* Typefaces */
/* Sizes */
/* Weights - Custom */
/* Weights - Data */
/* Basics */
/* Primary Colors */
/* Hover for Primary Colors */
/* Secondary Colors */
/* Blends */
/* Data Color Patterns

/* Palette A */
/* Palette B */
/* Palette C */
/* Single Hue - A */
/* Single Hue - B */
/* Single Hue - C */
/* Color Scale - A */
/* Color Scale - B */
/* Color Scale - C */
/* Custom & data font imports */
/* Font Smoothing Support */
/* Layout Helpers */
/* Data Patterns - Palettes */
/* Data Patterns - Single Hues */
/* Data Patterns - Color Scales */
.ds-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.ds-icon.ds-icon-xs {
  width: 8px;
  height: 8px;
}
.ds-icon.ds-icon-sm {
  width: 16px;
  height: 16px;
}
.ds-icon.ds-icon-med {
  width: 24px;
  height: 24px;
}
.ds-icon.ds-icon-lg {
  width: 32px;
  height: 32px;
}
.ds-logo-full {
  width: 104px;
  height: 38px;
}
.ds-logo-mark {
  width: 24px;
  height: 25px;
}
